
<div id="battlefront">
  <a href="#" id="enter">ENTER</a>
</div>

<section id="battlefield" class="hide">
  <% if (level == 1) { %>
  <form action="/duel" method="post">
    <input type="hidden" name="leave" id="leave" value="false" />
    <input type="submit" id="leave-btn" value="Leave Battlefield" />
  </form>
  <% } %>

  <h1>YOU ARE ON THE BATTLEFIELD</h1>

  <div id="new-connect"></div>

  <div id="connected">
    <% users.forEach(function(user) { %>
    <div class="user">
      <%= user.local.username %>
    </div>
    <% }); %>
  </div>
</section>
