<section id="town" class="light">
  <div id="town-1">
    <div class="light"></div>
  </div>
</section>

<section id="instructions">
  <div class="scroll">
    <p>When you join the other crusaders, you will take a short quiz, be placed on the Light or Dark team based on your answers, given a dwelling, and given a dragon with a special power.</p>
    <p>Powers can be weak or strong against an opposing team's dragon.</p>
  </div>
  <div class="scroll">
    <p>Power info here</p>
  </div>
  <div class="scroll">
    <p>Battlefield info</p>
  </div>
  <div class="scroll">
    <p>Objectives here</p>
  </div>
  <div class="scroll">
    <p>ready to join?</p>
  </div>
</div>
