<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.png">
    <title>Dragonduel | Node.JS App</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>

    <section id="login" class="hide">
      <h2>Login</h2>
      <form method="post" action="/login">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email-login">
        </div>
        <div class="form-group">
          <label for="email">Password</label>
          <input class="form-control" type="password" name="password" id="password-login">
        </div>
        <input class="btn btn-default" type="submit">
      </form>
    </section>

    <section id="join" class="hide">

      <h2>Signup</h2>
      <form method="post" action="/signup">
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" name="email" id="email" required />
          <div class="availability"></div>
          <span class="invalid-email hide">Please enter a valid e-mail.</span>
        </div>
        <div>
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" required />
          <!-- if input -> label -> input is changed, must update password validation in main.js -->
          <label for="password">Confirm password</label>
          <input class="form-control" type="password" id="password-confirm" required />
          <span class="invalid-password hide">Passwords don't match!</span>
          <span class="invalid-length hide">Must be 8+ characters.</span>
        </div>
        <div>
          <label for="username">Username</label>
          <input type="text" name="username" id="username" required />
          <div class="availability"></div>
          <span class="invalid-un hide">Usernames can only contain letters and numbers.</div>
        </div>
        <div>
          <label for="gender">Gender</label>
          <input type="radio" name="gender" value="m" required /> Male
          <input type="radio" name="gender" value="f" /> Female<br>
        </div>
        <div>
          <label for="question1">You prefer the...</label>
          <input type="radio" name="q1" value="sun" required /> Sun
          <input type="radio" name="q1" value="moon" /> Moon
        </div>
        <div>
          <label for="question2">Which mythological creature do you most relate to?</label>
          <input type="radio" name="q2" value="fairy" required /> Fairy
          <input type="radio" name="q2" value="mermaid" /> Mermaid
          <input type="radio" name="q2" value="phoenix" /> Phoenix
          <input type="radio" name="q2" value="unicorn" /> Unicorn
        </div>
        <div>
          <label for="question3">The precious gem that best describes you is the...</label>
          <input type="radio" name="q3" value="opal" required /> Opal
          <input type="radio" name="q3" value="ruby" /> Ruby
          <input type="radio" name="q3" value="diamond" /> Diamond
          <input type="radio" name="q3" value="onyx" /> Onyx
          <input type="radio" name="q3" value="pearl" /> Pearl
        </div>
        <div>
          <label for="question4">You can have one and only one.</label>
          <input type="radio" name="q4" value="money" required /> Money
          <input type="radio" name="q4" value="power" /> Power
          <input type="radio" name="q4" value="fame" /> Fame
          <input type="radio" name="q4" value="achievement" /> Achievement
          <input type="radio" name="q4" value="vanity" /> Vanity
        </div>
        <div>
          <label for="question5">Would you choose to live forever?</label>
          <input type="radio" name="q5" value="yes" required /> Yes
          <input type="radio" name="q5" value="no" /> No
        </div>
        <input class="btn btn-default" type="submit">
      </form>
    </section>



    <%- body %>

    <header>
    <% if(global.currentUser){ %>
      <a href="/duel/" id="duel" class="hide">battlefield☠️</a>
      <!-- input for websockets, remove if you can get socket.broadcast to work -->
      <input type="hidden" id="current-username" value="<%=req.user.local.username%>" />

      <a href="/users/<%=req.user.local.username%>" id="userShow">@<%= req.user.local.username %></a>
      <a href="/logout" id="logout-btn">Log out</a>
    <% } else { %>
      <a href="#" id="login-btn" class="auth">Login</a>
      <a href="/signup" id="join-btn" class="auth">join</a>
    <% } %>
    </header>



    <script src="https://cdn.socket.io/socket.io-1.4.5.js"></script>
    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/scripts/avgrund.js"></script>
    <script src="/scripts/main.js" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
