<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="apple-touch-icon-precomposed" href="favicon-152.png">
    <link rel="icon" href="/favicon.ico?" type="image/x-icon">
    <link rel="icon" href="/favicon.png">
    <title>Dragonduel | Node.JS App</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/4.1.1/normalize.min.css" type="text/css" />
    <link rel="stylesheet" href="/css/styles.css" type="text/css" />
  </head>
  <body>
    <header>
    <% if(global.currentUser){ %>
      <a href="/users/<%=global.currentUser.local.username%>">@<%= global.currentUser.local.username %></a>
      <a href="/logout">Log out</a>
    <% } else { %>
      <a href="/signup">Signup</a>
      <a href="login">Login</a>
    <% } %>
    </header>

    <%- body %>

    <script src="https://code.jquery.com/jquery-2.2.3.min.js" integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo=" crossorigin="anonymous"></script>
    <script src="/scripts/main.js" type="text/javascript" charset="utf-8" async defer></script>
  </body>
</html>
