html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.hide {
  display: none; }

.sky-light {
  height: 100%;
  background: url("../img/castles/sky-light.png"); }

.sky-dark {
  height: 100%;
  background: url("../img/castles/sky-dark.png"); }

header {
  position: fixed;
  top: 0;
  width: 100%; }
  header a {
    float: right; }

#town {
  min-height: 100%;
  height: 100%; }
  #town.light {
    background: #cfe1ea;
    background: -webkit-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: -o-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: -moz-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: linear-gradient(#78bcd2, #cfe1ea 40%); }
  #town.dark {
    background: #021215;
    background: -webkit-linear-gradient(#cfe1ea, #41757a 20%, #021215 46%);
    background: -o-linear-gradient(#cfe1ea, #41757a 20%, #021215 46%);
    background: -moz-linear-gradient(#cfe1ea, #41757a 20%, #021215 46%);
    background: linear-gradient(#cfe1ea, #41757a 20%, #021215 46%); }
  #town-1 {
    height: 100%;
    background: url("../img/castles/town1.png");
    background-size: cover;
    background-position: center center; }
    #town-1 .light {
      height: 100%;
      background: url("../img/castles/town1-light.png");
      background-size: cover;
      background-position: center center; }
    #town-1 .dark {
      height: 100%;
      background: url("../img/castles/town1-dark.png");
      background-size: cover;
      background-position: center center; }

.dragon {
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0; }
  .dragon.red {
    height: 100%;
    background: url("../img/dragons/town-red.png");
    background-size: cover;
    background-position: center center; }
  .dragon.orange {
    height: 100%;
    background: url("../img/dragons/town-orange.png");
    background-size: cover;
    background-position: center center; }
  .dragon.yellow {
    height: 100%;
    background: url("../img/dragons/town-yellow.png");
    background-size: cover;
    background-position: center center; }
  .dragon.green {
    height: 100%;
    background: url("../img/dragons/town-green.png");
    background-size: cover;
    background-position: center center; }
  .dragon.blue {
    height: 100%;
    background: url("../img/dragons/town-blue.png");
    background-size: cover;
    background-position: center center; }
  .dragon.purple {
    height: 100%;
    background: url("../img/dragons/town-purple.png");
    background-size: cover;
    background-position: center center; }

#instructions {
  min-height: 100%;
  height: 100%; }
  #instructions .scroll {
    height: 100%; }

#dwelling {
  min-height: 100%;
  height: 100%; }
  #dwelling.light {
    background: #cfe1ea;
    background: -webkit-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: -o-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: -moz-linear-gradient(#78bcd2, #cfe1ea 40%);
    background: linear-gradient(#78bcd2, #cfe1ea 40%); }
  #dwelling.dark {
    background: #021215;
    background: -webkit-linear-gradient(#cfe1ea, #41757a 30%, #021215 70%);
    background: -o-linear-gradient(#cfe1ea, #41757a 30%, #021215 70%);
    background: -moz-linear-gradient(#cfe1ea, #41757a 30%, #021215 70%);
    background: linear-gradient(#cfe1ea, #41757a 30%, #021215 70%); }
  #dwelling-1 {
    height: 100%;
    background: url("../img/castles/dwelling1.png");
    background-size: cover;
    background-position: center center; }
    #dwelling-1 .light {
      height: 100%;
      background: url("../img/castles/dwelling1-light.png");
      background-size: cover;
      background-position: center center; }
    #dwelling-1 .dark {
      height: 100%;
      background: url("../img/castles/dwelling1-dark.png");
      background-size: cover;
      background-position: center center; }
  #dwelling-2 {
    height: 100%;
    background: url("../img/castles/dwelling2.png");
    background-size: cover;
    background-position: center center; }
    #dwelling-2 .light {
      height: 100%;
      background: url("../img/castles/dwelling2-light.png");
      background-size: cover;
      background-position: center center; }
    #dwelling-2 .dark {
      height: 100%;
      background: url("../img/castles/dwelling2-dark.png");
      background-size: cover;
      background-position: center center; }

#user-info {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%; }
  #user-info .username {
    position: absolute;
    top: 85%;
    left: 47%; }

.avatar {
  position: absolute; }
  .avatar-part {
    position: absolute;
    height: auto; }
  .avatar.level1 {
    left: calc(50% - 50px);
    top: 3%; }
    .avatar.level1 .avatar-part {
      width: 100px; }
  .avatar.level2 {
    left: calc(50% - 30px);
    top: 26.5%; }
    .avatar.level2 .avatar-part {
      width: 60px; }

.cover.light {
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  background: url("../img/castles/cover-light.png");
  background-size: cover;
  background-position: center center; }

.cover.dark {
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  height: 100%;
  background: url("../img/castles/cover-dark.png");
  background-size: cover;
  background-position: center center; }

#battlefront {
  padding: 50px;
  font-size: 5em; }

/*# sourceMappingURL=styles.css.map */
