
$blue-white: #cfe1ea;
$blue-sky: #78bcd2;
$blue-dark: #13313d;
$blue-grey-dark: #41757a;
$blue-black: #021215;

@mixin dragonsAvatars($obj, $width1, $top1, $width2, $top2) {
  $halfWidth1: $width1 / 2;
  $halfWidth2: $width2 / 2;
  $calc1: calc(50% - #{$halfWidth1});
  $calc2: calc(50% - #{$halfWidth2});

    &-part {
      position: absolute;
      height: auto;
    }

    &.level1 {
      left: calc(50% - #{$halfWidth1});
      top: $top1;

      .#{$obj}-part {
        width: $width1;
      }
    }

    &.level2 {
      left: calc(50% - #{$halfWidth2});
      top: $top2;

      .#{$obj}-part {
        width: $width2;
    }
  }
}

@mixin castles($level, $img) {
  &-#{$level} {
    @include castle('../img/castles/#{$img}#{$level}.png');

    .light {
      @include castle('../img/castles/#{$img}#{$level}-light.png');
    }
    .dark {
      @include castle('../img/castles/#{$img}#{$level}-dark.png');
    }
  }
}

@mixin castle($url) {
  height: 100%;
  background: url($url);
  background-size: cover;
  background-position: center center;
}

@mixin gradient($perc1, $perc2, $perc3) {
  &.light {
    background: $blue-white;
    background: -webkit-linear-gradient($blue-sky, $blue-white $perc1);
    background: -o-linear-gradient($blue-sky, $blue-white $perc1);
    background: -moz-linear-gradient($blue-sky, $blue-white $perc1);
    background: linear-gradient($blue-sky, $blue-white $perc1);
  }
  &.dark {
    background: $blue-black;
    background: -webkit-linear-gradient($blue-white, $blue-grey-dark $perc2, $blue-black $perc3);
    background: -o-linear-gradient($blue-white, $blue-grey-dark $perc2, $blue-black $perc3);
    background: -moz-linear-gradient($blue-white, $blue-grey-dark $perc2, $blue-black $perc3);
    background: linear-gradient($blue-white, $blue-grey-dark $perc2, $blue-black $perc3);
  }
}

html, body {
  min-height: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.hide {
  display: none;
}

header {
  position: fixed;
  top: 0;
  width: 100%;

  a {
    float: right;
  }
}

#town {
  min-height: 100%;
  height: 100%;

  //first for light gradient stop, next two for dark stops
  //third one what % upward does the dark go
  @include gradient(40%, 20%, 46%);
  //level, img name
  @include castles(1, town);


}

.sky-light {
  height: 100%;
  background: url('../img/castles/sky-light.png');
}
.sky-dark {
  height: 100%;
  background: url('../img/castles/sky-dark.png');
}

#instructions {
  min-height: 100%;
  height: 100%;

  .scroll {
    height: 100%;
  }
}

#dwelling {
  min-height: 100%;
  height: 100%;

  @include gradient(40%, 30%, 70%);
  @include castles(1, dwelling);
  @include castles(2, dwelling);
}

#user-info {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;

  .username {
    position: absolute;
    top: 85%;
    left: 47%;
  }
}

.dragon-info {
  position: absolute;
  top: 0;
  left: 0;
  min-height: 100%;
  height: 100%;
  min-width: 100%;
  width: 100%;

  .username {
    position: absolute;
    top: 85%;
    left: 47%;
  }
}


.avatar {
  position: absolute;

  //object, level 1 width, lvl1 top, lvl2 width, lvl2 top
  @include dragonsAvatars(avatar, 100px, 3%, 60px, 26.5%);
}

.dragon {
  position: absolute;

  //object, level 1 width, lvl1 top, lvl2 width, lvl2 top
  @include dragonsAvatars(dragon, 100px, 3%, 100px, 26.5%);

  &.level2.town {
    left: 29.5%;
    top: 21%;
    .dragon-part {
      width: 220px;
    }
  }
}

.cover.light {
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  @include castle('../img/castles/cover-light.png');
}
.cover.dark {
  position: absolute;
  top: 0;
  min-height: 100%;
  min-width: 100%;
  @include castle('../img/castles/cover-dark.png');
}

#battlefront  {
  padding: 50px;
  font-size: 5em;
}
